.adminpanel{
    background-color: #def0fa;
    padding: 25px;
}

.adminpanel > div:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
    border-bottom: 1px solid #c2c2c2;
    margin: 0 0 30px 0;
}

.adminpanel > div:nth-of-type(1) > h2{
    font-size: 25px;
    font-weight: 500;
}

.adminpanel > div:nth-of-type(2){
    max-width: 864px;
    margin: 0 auto 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

.adminpanel > div:nth-of-type(2) > section{
    background-color: #ffff;
    border: 1px dashed red;
    position: relative;
    width: 500px;
    padding: 15px;
}

.adminpanel > div:nth-of-type(2) > section > label{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -14px;
    left: 5px;
}

.adminpanel > div:nth-of-type(2) > section > input{
    background: none;
    border: none;
    padding: 5px;
    width: 100%;
    text-align: center;
}

.adminpanel > div:nth-of-type(2) > section > button{
    position: absolute;
    right: -40px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 100px;
    background-color: var(--groenGrijs);
    color: #ffff;
    font-weight: 500;
}

.adminpanel > div:nth-of-type(2) > section > button:hover{
    opacity: .8;
    transition: .2s ease;
}

.adminpanel > div:nth-of-type(2) > section:nth-of-type(1) > input{
    font-size: 15px;
    font-weight: 450;
    line-height: 16px;
}

.adminpanel > div:nth-of-type(2) > section:nth-of-type(2){
    width: 100%;
}

.adminpanel > div:nth-of-type(2) > section:nth-of-type(2) > input{
    max-width: 642px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: -3%;
}

.adminpanel > div:nth-of-type(2) > section:nth-of-type(3) > input{
    font-size: 19px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 2%;
}

.adminpanel > div:nth-of-type(2) > section:nth-of-type(4) > input{
    font-size: 19px;
    font-weight: 450;
    line-height: 24px;
    letter-spacing: 2%;
    background: none;
    border: none;
    color: red;
}




.adminpanel > div:nth-of-type(3){
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    max-width: 1200px;
}

.adminpanel > div:nth-of-type(3) > section{
    background-image: url(/card-placeholder.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px dashed red;
    border-radius: 4px;
    width: auto;
    height: 500px;
}

.adminpanel > div:nth-of-type(3) > section > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: #0000002b;
    width: 100%;
    height: 100%;
}

.adminpanel > div:nth-of-type(3) > section > div > p{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -14px;
    left: 5px;
}

.adminpanel > div:nth-of-type(3) > section > div > div{
    display: flex;
    flex-direction: column;
    margin: 23px;
    padding: 15px;
    border: 1px dashed red;
    position: relative;
}

.adminpanel > div:nth-of-type(3) > section > div > div > label{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    position: absolute;
    top: -16px;
    left: 5px;
    background-color: #ffff;
    padding: 2px;
    border-radius: 2px;
}

.adminpanel > div:nth-of-type(3) > section > div > div:nth-of-type(1) > input{
    background: none;
    border: none;
    color: #ffff;
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
}

.adminpanel > div:nth-of-type(3) > section > div > div:nth-of-type(2) > input{
    background: none;
    border: none;
    color: #FAFAFA;
    opacity: 50%;
    font-size: 19px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 0%;
}

.adminpanel > div:nth-of-type(3) > section > div > div:nth-of-type(3) > input{
    padding: 5px;
}