.header{
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header > div{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.header > div > h1{
    font-size: 2.3em;
}

.header > div > h2{
    font-size: 1.6em;
}

@media only screen and (max-width: 600px) {
    .header > div > h1{
        font-size: 1.6em;
    }

    .header > div > h2{
        font-size: 1.3em;
    }
}