.header{
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.header > div{
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    position: relative;
}

.header > div > a h1{
    width: fit-content;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 2.2em;
    font-weight: 500;
}

.header > div > a h2{
    width: fit-content;
    margin: 0 auto;
    font-family: "Montserrat";
    font-size: 1.4em;
    font-weight: 400;
}

.header > div > a:last-child{
    font-weight: 400;
    font-family: "Montserrat";
    position: absolute;
    bottom: 8px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: .9em;
}

.header > div > a:last-child img{
    width: 15px;
    height: auto;
}

.header > div > a:last-child:hover{
    opacity: .6;
    transition: .2s ease;
}

@media only screen and (max-width: 1400px) {
    .header > div > a:last-child{
        font-size: 0px;
        top: 0;
        bottom: 0;
        right: 8px;
    }

    .header > div > a:last-child img{
        width: 18px;
    }
}

@media only screen and (max-width: 600px) {
    .header > div > a h1{
        font-size: 1.2em;
    }

    .header > div > a h2{
        font-size: 1em;
    }
}